*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #d6d6d6;
    box-shadow: #d6d6d6 0px 0px 5px 0px;
    align-items: center;
    padding: 20px 0 20px;
}
.container ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.container ul li{
    margin: 0 10px 0 10px;
}
.logoMenu{
    display: block;
}
.close-logo-menu{
    display: none;
}
.close-logo-menu.responsive{
    display: block;
}
.logoMenu.remoResponsive{
    display: none;
}
/*responsivo
@media (max-width: 800px){
    .container ul{
        display: none;
    }
    .logoMenu {
       display: block;
        border: 1px solid red;
    }
    .logoMenu i{
        font-size: 30px;
    }
}*/
